.footer {
  background-color: $color-black;
  color: $color-grey;
  position: relative;

  &__container {
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    display: flex;

    @media only screen and (max-width: 68.75em) {
      // 1100px = 1100/16px = 68.75em

      width: 90%;
    }

    @media only screen and (max-width: 56.25em) {
      // 900px = 900/16px = 56.25em

      width: 95%;
    }

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      flex-direction: column;
      width: 70%;
    }

    @media only screen and (max-width: 31.25em) {
      // 500px = 500/16px = 31.25em
      justify-content: space-between;
      width: 90%;
    }
  }

  &__hotel-info {
    text-align: center;

    & > * {
      margin-bottom: 1.5rem;
    }

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      margin-top: -4rem;
    }
  }

  &__nav {
    margin-left: 5rem;
    flex: 1;

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      order: -1;
      margin-left: 0;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      justify-content: space-between;
    }

    @media only screen and (max-width: 21.88em) {
      // 350px = 350/16px = 21.88em
      flex-direction: column;
    }
  }

  &__box {
    @media only screen and (max-width: 21.88em) {
      // 350px = 350/16px = 21.88em
      font-size: 1.7rem;
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 2.65rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;

    &:hover {
      color: $color-white;
    }
  }

  &__icon {
    fill: $color-grey;
    width: 2.75rem;
    display: inline-block;
    margin-top: -6rem;
    cursor: pointer;
    transition: transform 0.2s;

    &:not(:last-child) {
      margin-right: 1.85rem;
    }

    &:hover {
      fill: $color-white;
    }

    @media only screen and (max-width: 56.25em) {
      // 900px = 900/16px = 56.25em

      margin-top: -8rem;
    }

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      margin-top: -10rem;
    }

    @media only screen and (max-width: 31.25em) {
      // 500px = 500/16px = 31.25em
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }
  }

  &__copyright {
    position: absolute;
    bottom: 15%;
    transform: translateX(-50%);
    left: 50%;

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em
      width: 100%;
      text-align: center;
      position: relative;
      left: 0;
      bottom: 0;
      transform: translateX(0);
    }
  }
}
