.card {
  flex: 1;
  position: relative;
  font-size: 1.4rem;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 26rem;
    background-size: cover;

    @media only screen and (max-width: 47.5em) {
      // 760px = 760/16px = 47.5em

      height: 35rem;
    }
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 1rem;

    font-size: 2rem;
    text-align: center;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
  }

  &__description {
    margin: 3rem 0;
  }

  &__brown {
    width: 100%;
    padding: 2rem 0;
    background-color: $color-secondary-dark;
    color: $color-white;
    border: none;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary;
    }
  }

  @media only screen and (max-width: 47.5em) {
    // 760px = 760/16px = 47.5em

    font-size: inherit;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 8rem;
    }
  }
}
